<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/favorites.css">
</head>
<body>
    <header>
        <h1>My Favorites</h1>
    </header>
    <ul>
        <% if (favorites && favorites.length > 0) { %>
            <% favorites.forEach(player => { %>
                <li>

                    
                    <h2><%= player.playerName %></h2>
                    <form action="/favorites/<%= player._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete <%= player.playerName %></button>
                    </form>
                </li>
            <% }) %>
        <% } else { %>
            <li>No favorites found.</li>
        <% } %>
    </ul>
    <footer>
        <a href="/" class="back-link">Back to Home</a>
    </footer>
</body>
</html>
