<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Hello, <%= user.username %></h1>
      <p>
        <a href="/auth/sign-out">sign out</a>
      </p>
    <% } else { %>
      <h1>Welcome to the Soccer Hub.</h1>
      <h2>Dont have an account?</h2>
      <a href="/auth/sign-up">sign up</a>
      <a href="/auth/sign-in">sign in</a>
    <% } %>
    <form action="/search" method="GET">
      <input type="text" name="player" placeholder="Enter player's name" required>
      <button type="submit">Find Favorite Player!</button>
      <a href="/players">See All Players</a>

    </form>
    <button type="submit">Your Favorites</button> </button>

  </body>
</html>