/* Style for the body */
body {
    background-image: url('../Assets/cool-soccer-ball-goal-shot-6mzthep8me8z4dz6.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: gray; 
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-family: Arial, sans-serif;
    color: #333; 
}

h1 {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    text-align: center;
    font-size: 2rem; 
    margin-bottom: 20px; 
}


form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    max-width: 400px; 
    width: 100%; 
    text-align: center; 
}


form label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
}


form input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem; 
}


form button {
    padding: 15px 30px; 
    font-size: 1.2rem; 
    background-color: #007BFF; 
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

form button:hover {
    background-color: #0056b3; 
}

form button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); 
}
